---
title: Contributor Growth Working Group
linkTitle: Contributor Growth
type: single
url: /about/contributor-growth/
---


{{% blocks/lead color="primary" %}}
# Contributor Growth Working Group

We are interested in assisting CNCF projects with sustainably growing their
contributor base.

{{% /blocks/lead %}}

{{% blocks/section color="white" %}}

<div class="content">

Meetings take place every 1st and 3rd Tuesday at 2pm PT. (USA Pacific, see your timezone [here](https://time.is/compare/200PM_in_PT)):

* [Zoom](https://zoom.us/my/cncfsigcontributorstrategy?pwd=TnI0WU9Eb2I1RlRWdkl1R0k1WkZXUT09) passcode: `77777`
* [Meeting Minutes and Agenda](https://docs.google.com/document/d/1Kx7tZv5wTXQ7uRKxn5d9d2wLsI3Q3Q51A0i06nLvtdI/edit)

Discussion happens on the [mailing list] or on #sig-contributor-strategy on [Slack].

[mailing list]: https://lists.cncf.io/g/cncf-sig-contributor-strategy
[Slack]: https://slack.cncf.io/

{{% /blocks/section %}}