---
title: Governance Working Group
linkTitle: Governance
type: single
url: /about/governance/
---


{{% blocks/lead color="primary" %}}
# Governance Working Group

We aim to assist all CNCF projects with implementing good open source governance
practices.

{{% /blocks/lead %}}

{{% blocks/section color="white" %}}

<div class="content">

Meetings take place every 1st and 3rd Tuesday at 2pm PT. (USA Pacific, see your timezone [here](https://time.is/compare/1030AM_in_PT)):

* [Zoom](https://zoom.us/my/cncftagcontributorstrategy?pwd=TnI0WU9Eb2I1RlRWdkl1R0k1WkZXUT09) passcode: `77777`
* [Meeting Minutes and Agenda](https://docs.google.com/document/d/1P9tQgCM6OwDHd1F8UnWuauL4KDVTMTp49_n64_w8nrs/edit)

Discussion happens on the [mailing list] or on #tag-contributor-strategy on [Slack].

[mailing list]: https://lists.cncf.io/g/cncf-tag-contributor-strategy
[Slack]: https://slack.cncf.io/

{{% /blocks/section %}}
