---
title: Governance Working Group
linkTitle: Governance
url: /about/governance/
---


{{% blocks/lead color="primary" %}}

We aim to assist all CNCF projects with implementing good open source governance
practices.

{{% /blocks/lead %}}

{{% blocks/section color="white" %}}

<div class="content">

We meet once a month.
Go to <a href="https://www.cncf.io/calendar/">cncf.io/calendar</a> and enter "Governance WG" in the search box to see when we meet next.
    
* [Zoom](https://zoom.us/my/cncftagcontributorstrategy?pwd=TnI0WU9Eb2I1RlRWdkl1R0k1WkZXUT09) passcode: `77777`
* [Meeting Minutes and Agenda](https://docs.google.com/document/d/1P9tQgCM6OwDHd1F8UnWuauL4KDVTMTp49_n64_w8nrs/edit)

Discussion happens on the [mailing list] or on #tag-contributor-strategy on [Slack].

[mailing list]: https://lists.cncf.io/g/cncf-tag-contributor-strategy
[Slack]: https://slack.cncf.io/

{{% /blocks/section %}}
