<table>
    <thead>
    <tr>
    <th style="text-align:center">Project Name</th>
    <th style="text-align:center">Focus</th>
    <th style="text-align:center">Primary Language</th>
    </tr>
    </thead>
    <tbody>
{{ range $.Site.Data.projects }}
    {{ if eq .project ($.Get "level") }}
    <tr>
        <td style="text-align:center">
        <a href="/contributorss/projects/#kubernetes">{{ .name }}</a></td>
        <td style="text-align:center">{{ .path }}</td>
        <td style="text-align:center">{{ .language }}</td>
    </tr>
    {{ end }}
{{ end }}
</tbody>
</table>
