---
title: About TAG Contributor Strategy
linkTitle: About
type: single
layout: single
weight: 10
menu:
  main:
    weight: 10
---


{{< blocks/cover title="About TAG Contributor Strategy" image_anchor="bottom" height="min" >}}


{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}

TAG Contributor Strategy is responsible for contributor experience,
sustainability, governance, and openness guidance to help CNCF community groups
and projects with their own contributor strategies for a healthy project.
    
We are a CNCF Special Interest Group that advises the Technical Oversight
Committee and CNCF projects on strategies related to building, scaling, and
retaining contributor communities, including governance, communications,
operations, and tools. We want to help grow flourishing, sustainable communities
with smooth journeys throughout their CNCF project lifecycle.

[Read our Charter](/about/charter/)

{{% /blocks/lead %}}

<div class="section-group">
  {{% blocks/lead color="dark" %}}
  The mission of CNCF TAG Contributor Strategy is to collaborate on strategies
  related to building, scaling, and retaining contributor communities, including
  (people) governance, communications, operations, and tools. We want to help grow
  flourishing, sustainable communities with smooth journeys throughout their CNCF
  project lifecycle.
  {{% /blocks/lead %}}
  
  {{< blocks/section color="dark" >}}
  
  {{% blocks/feature icon="fas fa-hands" title="Intentional Space" %}}
  Host a maintainers circle omprised of those interested in growing their projects
  and joining fellow maintainers in related cross project discussions.
  {{% /blocks/feature %}}
  
  {{% blocks/feature icon="fas fa-assistive-listening-systems" title="Listen and Advise" %}}
  Create informational and training resources including guides, tutorials and
  templates of best practices, trade-offs, strategies, building and participating
  in scalable contributor communities.
  {{% /blocks/feature %}}
  {{< /blocks/section >}}
  
  {{< blocks/section color="dark" >}}
  {{% blocks/feature icon="fas fa-tasks" title="Evaluate and Foster" %}}
  Assist the CNCF Technical Oversight Committee with assessments and due diligence
  of prospective new projects by developing community graduation criteria check
  points for rolling feedback and guidance.
  {{% /blocks/feature %}}
  
  {{% blocks/feature icon="fas fa-comments" title="Educate and Engage" %}}
  Provide guidance to end users on how to engage with contributors and vice
  versa.
  {{% /blocks/feature %}}
</div>
  
{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fa-gavel" title="Governance" url="governance/" %}}
Looking to improve your project's governance model? We've got you covered!

{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-heartbeat" title="Contributor Growth" url="contributor-growth/" %}}
Need more contributors? Maybe a few good maintainers? We can help you
sustainably grow your contributor base, and provide tips for doing so without
burning out.

{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-handshake" title="Maintainers Circle" url="maintainers-circle/" %}}
Connect with other maintainers, share best practices, commiserate and grow.

{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="light" >}}
{{% blocks/feature icon="fas fa-video" title="Meetings" %}}


Go to <a href="https://www.cncf.io/calendar/">cncf.io/calendar</a> and enter "TAG Contributor Strategy" in the search box to see when we meet next.

<div class="text-left">

- Calendar invites are sent to the [mailing list]. Once you join, you won't
automatically have the invite on your calendar. You can get it from a [past
message here](https://lists.cncf.io/g/cncf-tag-contributor-strategy/message/1)
- [Meeting minutes and agenda](https://bit.ly/cncf-contribstrat-agenda)
- Meeting Link: [zoom.us/my/cncftagcontributorstrategy](https://zoom.us/my/cncftagcontributorstrategy)

</div>

[mailing list]: https://lists.cncf.io/g/cncf-tag-contributor-strategy
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-envelope" title="Mailing List"
url="https://lists.cncf.io/g/cncf-tag-contributor-strategy" url_text="Sign Up" %}}
Keep up-to-date on new templates, advisory guides, and what we are planning next.
{{% /blocks/feature %}}

{{< /blocks/section >}}
  
{{< blocks/section color="primary" >}}

## Leadership

- Paris Pittman ([@parispittman](https://github.com/parispittman)), Google
- Josh Berkus ([@jberkus](https://github.com/jberkus)), Red Hat
- Stephen Augustus ([@justaugustus](https://github.com/justaugustus)), VMware

{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}

- [Governance](governance/)
- [Contributor Growth](contributor-growth/)
- [Maintainer's Circle](maintainers-circle/)

## Working Groups

{{< /blocks/section >}}
