{{ $img := cond (isset $.Params "image") $.Params.image $.Site.Params.image }}
{{/* If `image` param exists, use that in the card. */}}
{{/* If it doesn't, use the video's HQ thumbnail if `youtubeID` parameter exists. */}}
{{ with $.Params.youtubeID }}
{{ $img = cond (isset $.Params "image") $.Params.image ($.Params.youtubeID | printf "https://i.ytimg.com/vi/%s/mqdefault.jpg") }}
{{ end }}

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Params.linkTitle | default .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="twitter:image" content="{{ $img | absURL }}">

<!-- Open Graph, used by LinkedIn etc. -->
<meta name="og:image" content="{{ $img | absURL }}">
<meta name="image" property="og:image" content="{{ $img | absURL }}">
